<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon"
        href="https://r.mobirisesite.com/1100953/assets/images/photo-1652020974081-0302bf66fe85.jpeg"
        type="image/x-icon">
    <meta name="description"
        content="Simplify your business accounting with our innovative digital ledger, payment reminders, and secure data backup. Experience multi-language support for global reach.">
    <title>Simplify Accounting</title>
    <link rel="stylesheet"
        href="https://r.mobirisesite.com/1100953/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1737023554986">
    <link rel="stylesheet"
        href="https://r.mobirisesite.com/1100953/assets/bootstrap/css/bootstrap.min.css?rnd=1737023554986">
    <link rel="stylesheet"
        href="https://r.mobirisesite.com/1100953/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1737023554986">
    <link rel="stylesheet"
        href="https://r.mobirisesite.com/1100953/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1737023554986">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/parallax/jarallax.css?rnd=1737023554986">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/dropdown/css/style.css?rnd=1737023554986">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/socicon/css/styles.css?rnd=1737023554986">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/theme/css/style.css?rnd=1737023554987">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/recaptcha.css?rnd=1737023554987">
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap">
    </noscript>
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/css/mbr-additional.css?rnd=1737023554987"
        type="text/css">


    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section data-bs-version="5.1" class="menu menu01 operationm5 cid-uA2pH2O9rE" once="menu" id="menu-1-uA2pH2O9rE">
        <nav class="navbar navbar-dropdown navbar-expand-lg">
            <div class="menu_box container-fluid">
                <div class="navbar-brand d-flex">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1652020974081-0302bf66fe85.jpeg"
                                alt="">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption display-7" href="#">Ledgerly</a>
                    </span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                        data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link display-4" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link display-4" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link display-4" href="/logout">Logout</a>
                        </li>

                    </ul>
                    <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-primary display-4" href="#">Get
                            Started</a></div>

                </div>
            </div>
        </nav>
    </section>

    <section data-bs-version="5.1" class="header01 operationm5 cid-uA2pH2PZAu mbr-fullscreen" id="hero-1-uA2pH2PZAu">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="content-wrapper">
                        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Simplify Accounting</h3>
                        <h2 class="mbr-section-title mbr-fonts-style display-1">Your Business, Simplified</h2>
                        <p class="mbr-desc mbr-fonts-style display-5">Transform your accounting experience today!</p>
                        <div class="text-wrapper">
                            <p class="mbr-text mbr-fonts-style display-7">Say goodbye to accounting headaches! Ledgerly
                                makes managing your finances a breeze with our innovative features. Join the revolution
                                and take control of your business finances now!</p>
                        </div>
                        <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="#">Download Now</a>
                        </div>
                    </div>
                </div>
                <div class="decor-wrapper">
                    <div class="decor-wrap decor_1"></div>
                    <div class="decor-wrap decor_2"></div>
                    <div class="decor-wrap decor_3"></div>
                    <div class="decor-wrap decor_4"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="slider02 mbr-embla operationm5 cid-uA2pH2Qrkl" id="features-8-uA2pH2Qrkl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10 card">
                    <div class="content-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Why Choose Ledgerly?</h2>
                        <p class="mbr-text mbr-fonts-style display-7">Discover the magic of effortless accounting! With
                            Ledgerly, you can manage your finances like a pro. Our features are designed to make your
                            life easier and your business more efficient. Check out what we offer!</p>
                    </div>
                </div>
                <div class="col-12 col-lg-10 card">
                    <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps"
                        data-auto-play-interval="5" data-draggable="true">
                        <div class="embla__viewport">
                            <div class="embla__container">
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">1</h4>
                                                <p class="item-desc mbr-fonts-style display-7">Digital ledger for easy
                                                    tracking.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">2</h4>
                                                <p class="item-desc mbr-fonts-style display-7">Payment reminders that
                                                    never forget.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">3</h4>
                                                <p class="item-desc mbr-fonts-style display-7">Multi-language support
                                                    for everyone.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">4</h4>
                                                <p class="item-desc mbr-fonts-style display-7">Data backup to keep you
                                                    safe.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">5</h4>
                                                <p class="item-desc mbr-fonts-style display-7">User-friendly interface
                                                    for all.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">6</h4>
                                                <p class="item-desc mbr-fonts-style display-7">24/7 customer support at
                                                    your service.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="embla__button embla__button--prev">
                            <span class="mbr-iconfont mobi-mbri-left mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Previous</span>
                        </button>
                        <button class="embla__button embla__button--next">
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="contacts01 operationm5 cid-uA2pH3mu6A" id="contacts-1-uA2pH3mu6A">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10 card">
                    <div class="title-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Reach Us Anytime</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-4  item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style display-5">Phone</h4>
                            <a href="#">
                                <p class="card-text mbr-fonts-style display-7"><a href="tel:+91 9010823344">+91 90108
                                        23344</a></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style display-5">Email</h4>
                            <a href="#">
                                <p class="card-text mbr-fonts-style display-7"><a
                                        href="mailto:shivarth99@gmail.com">sales@docoumount.in</a></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style display-5">Address</h4>
                            <a href="#">
                                <p class="card-text mbr-fonts-style display-7">Nizamabad, Telagana, India <br>503001</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="footer01 operationm5 cid-uA2pH3qX1l" once="footers" id="footer-1-uA2pH3qX1l">

        <div class="container-fluid">
            <div class="row">

                <div class="col-12 col-lg-6">

                    <p class="mbr-copy mbr-fonts-style display-4">© 2025 Business Accounting. All rights reserved.</p>
                </div>
            </div>

        </div>

    </section>


    <script src="https://r.mobirisesite.com/1100953/assets/web/assets/jquery/jquery.min.js?rnd=1737023554987"></script>
    <script
        src="https://r.mobirisesite.com/1100953/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/parallax/jarallax.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/smoothscroll/smooth-scroll.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/ytplayer/index.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/dropdown/js/navbar-dropdown.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/embla/embla.min.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/embla/script.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/scrollgallery/scroll-gallery.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/mbr-tabs/mbr-tabs.js?rnd=1737023554987"></script>
    <script
        src="https://r.mobirisesite.com/1100953/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/vimeoplayer/player.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/theme/js/script.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/formoid.min.js?rnd=1737023554987"></script>

</body>

</html>