<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon"
    href="https://r.mobirisesite.com/1100953/assets/images/photo-1652020974081-0302bf66fe85.jpeg" type="image/x-icon">
  <meta name="description"
    content="Simplify your business accounting with our innovative digital ledger, payment reminders, and secure data backup. Experience multi-language support for global reach.">
  <title>Sign Up</title>
  <link rel="stylesheet"
    href="https://r.mobirisesite.com/1100953/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1737023554986">
  <link rel="stylesheet"
    href="https://r.mobirisesite.com/1100953/assets/bootstrap/css/bootstrap.min.css?rnd=1737023554986">
  <link rel="stylesheet"
    href="https://r.mobirisesite.com/1100953/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1737023554986">
  <link rel="stylesheet"
    href="https://r.mobirisesite.com/1100953/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1737023554986">
  <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/parallax/jarallax.css?rnd=1737023554986">
  <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/dropdown/css/style.css?rnd=1737023554986">
  <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/socicon/css/styles.css?rnd=1737023554986">
  <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/theme/css/style.css?rnd=1737023554987">
  <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/recaptcha.css?rnd=1737023554987">
  <link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap">
  </noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/css/mbr-additional.css?rnd=1737023554987"
    type="text/css">


  <link rel="stylesheet" href="style.css">
</head>

<body>

  <section data-bs-version="5.1" class="menu menu01 operationm5 cid-uA2pH2O9rE" once="menu" id="menu-1-uA2pH2O9rE">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
      <div class="menu_box container-fluid">
        <div class="navbar-brand d-flex">
          <span class="navbar-logo">
            <a href="#">
              <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1652020974081-0302bf66fe85.jpeg" alt="">
            </a>
          </span>
          <span class="navbar-caption-wrap">
            <a class="navbar-caption display-7" href="#">Ledgerly</a>
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
            data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item">
              <a class="nav-link link display-4" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link display-4" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link display-4" href="/logout">Logout</a>
            </li>

          </ul>
          <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-primary display-4" href="/logout">Get
              Started</a></div>

        </div>
      </div>
    </nav>
  </section>


  <form action="/register" method="POST" class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <div class="form-group mb-3">
          <input type="text" name="username" class="form-control" placeholder="Username" required>
        </div>
        <div class="form-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block w-100">Submit</button>
        </div>
      </div>
    </div>
  </form>



  <section data-bs-version="5.1" class="footer01 operationm5 cid-uA2pH3qX1l" once="footers" id="footer-1-uA2pH3qX1l">

    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-lg-6">

          <p class="mbr-copy mbr-fonts-style display-4">© 2025 Business Accounting. All rights reserved.</p>
        </div>
      </div>

    </div>

  </section>

  <script src="https://r.mobirisesite.com/1100953/assets/web/assets/jquery/jquery.min.js?rnd=1737023554987"></script>
  <script
    src="https://r.mobirisesite.com/1100953/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/parallax/jarallax.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/smoothscroll/smooth-scroll.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/ytplayer/index.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/dropdown/js/navbar-dropdown.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/embla/embla.min.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/embla/script.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/scrollgallery/scroll-gallery.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/mbr-tabs/mbr-tabs.js?rnd=1737023554987"></script>
  <script
    src="https://r.mobirisesite.com/1100953/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/vimeoplayer/player.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/theme/js/script.js?rnd=1737023554987"></script>
  <script src="https://r.mobirisesite.com/1100953/assets/formoid.min.js?rnd=1737023554987"></script>

</body>

</html>