<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon"
        href="https://r.mobirisesite.com/1100953/assets/images/photo-1652020974081-0302bf66fe85.jpeg"
        type="image/x-icon">
    <meta name="description"
        content="Simplify your business accounting with our innovative digital ledger, payment reminders, and secure data backup. Experience multi-language support for global reach.">
    <title>Simplify Accounting</title>
    <link rel="stylesheet"
        href="https://r.mobirisesite.com/1100953/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1737023554986">
    <link rel="stylesheet"
        href="https://r.mobirisesite.com/1100953/assets/bootstrap/css/bootstrap.min.css?rnd=1737023554986">
    <link rel="stylesheet"
        href="https://r.mobirisesite.com/1100953/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1737023554986">
    <link rel="stylesheet"
        href="https://r.mobirisesite.com/1100953/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1737023554986">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/parallax/jarallax.css?rnd=1737023554986">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/dropdown/css/style.css?rnd=1737023554986">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/socicon/css/styles.css?rnd=1737023554986">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/theme/css/style.css?rnd=1737023554987">
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/recaptcha.css?rnd=1737023554987">
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap">
    </noscript>
    <link rel="stylesheet" href="https://r.mobirisesite.com/1100953/assets/css/mbr-additional.css?rnd=1737023554987"
        type="text/css">


    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section data-bs-version="5.1" class="menu menu01 operationm5 cid-uA2pH2O9rE" once="menu" id="menu-1-uA2pH2O9rE">
        <nav class="navbar navbar-dropdown navbar-expand-lg">
            <div class="menu_box container-fluid">
                <div class="navbar-brand d-flex">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1652020974081-0302bf66fe85.jpeg"
                                alt="">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption display-7" href="#">Ledgerly</a>
                    </span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                        data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link display-4" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link display-4" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link display-4" href="/logout">Logout</a>
                        </li>

                    </ul>
                    <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-primary display-4" href="#">Get
                            Started</a></div>

                </div>
            </div>
        </nav>
    </section>

    <section data-bs-version="5.1" class="header01 operationm5 cid-uA2pH2PZAu mbr-fullscreen" id="hero-1-uA2pH2PZAu">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="content-wrapper">
                        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Simplify Accounting</h3>
                        <h2 class="mbr-section-title mbr-fonts-style display-1">Your Business, Simplified</h2>
                        <p class="mbr-desc mbr-fonts-style display-5">Transform your accounting experience today!</p>
                        <div class="text-wrapper">
                            <p class="mbr-text mbr-fonts-style display-7">Say goodbye to accounting headaches! Ledgerly
                                makes managing your finances a breeze with our innovative features. Join the revolution
                                and take control of your business finances now!</p>
                        </div>
                        <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="#">Download Now</a>
                        </div>
                    </div>
                </div>
                <div class="decor-wrapper">
                    <div class="decor-wrap decor_1"></div>
                    <div class="decor-wrap decor_2"></div>
                    <div class="decor-wrap decor_3"></div>
                    <div class="decor-wrap decor_4"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="slider02 mbr-embla operationm5 cid-uA2pH2Qrkl" id="features-8-uA2pH2Qrkl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10 card">
                    <div class="content-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Why Choose Ledgerly?</h2>
                        <p class="mbr-text mbr-fonts-style display-7">Discover the magic of effortless accounting! With
                            Ledgerly, you can manage your finances like a pro. Our features are designed to make your
                            life easier and your business more efficient. Check out what we offer!</p>
                    </div>
                </div>
                <div class="col-12 col-lg-10 card">
                    <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps"
                        data-auto-play-interval="5" data-draggable="true">
                        <div class="embla__viewport">
                            <div class="embla__container">
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">1</h4>
                                                <p class="item-desc mbr-fonts-style display-7">Digital ledger for easy
                                                    tracking.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">2</h4>
                                                <p class="item-desc mbr-fonts-style display-7">Payment reminders that
                                                    never forget.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">3</h4>
                                                <p class="item-desc mbr-fonts-style display-7">Multi-language support
                                                    for everyone.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">4</h4>
                                                <p class="item-desc mbr-fonts-style display-7">Data backup to keep you
                                                    safe.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">5</h4>
                                                <p class="item-desc mbr-fonts-style display-7">User-friendly interface
                                                    for all.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-number mbr-fonts-style display-1">6</h4>
                                                <p class="item-desc mbr-fonts-style display-7">24/7 customer support at
                                                    your service.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="embla__button embla__button--prev">
                            <span class="mbr-iconfont mobi-mbri-left mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Previous</span>
                        </button>
                        <button class="embla__button embla__button--next">
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article01 operationm5 cid-uA2pH2QTeo mbr-fullscreen mbr-parallax-background"
        id="image-2-uA2pH2QTeo">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="title-wrapper">
                        <div class="title-wrap">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="gallery01 operationm5 cid-uA2pH2RDTV" id="gallery-4-uA2pH2RDTV">


        <div class="container-fluid gallery-wrapper">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head">

                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-container-3 moving-left" style="transform: translate3d(-200px, 0px, 0px);">
                    <div class="grid-item">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1667984510054-d4562f93621d.jpeg"
                            alt="">
                    </div>
                    <div class="grid-item">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1664527184272-d804268747b5.jpeg"
                            alt="">
                    </div>
                    <div class="grid-item">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1681783165656-39321053e929.jpeg"
                            alt="">
                    </div>
                    <div class="grid-item">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1667984510023-08601cbdec1c.jpeg"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="decor-wrapper">
            <div class="decor-wrap decor_1"></div>
            <div class="decor-wrap decor_2"></div>
            <div class="decor-wrap decor_3"></div>
            <div class="decor-wrap decor_4"></div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features01 operationm5 cid-uA2pH2R0j3 mbr-parallax-background"
        id="features-1-uA2pH2R0j3">

        <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(250, 252, 252);"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="title-wrapper">
                        <div class="title-wrap">
                            <h2 class="mbr-section-title mbr-fonts-style display-2">What Makes Us Stand Out?</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="items-wrapper">
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-text mbr-fonts-style display-7">Our digital ledger is like magic!
                                        Track every penny without breaking a sweat. It's accounting made fun, not a
                                        chore!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="items-wrapper">
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-text mbr-fonts-style display-7">Never miss a payment again! Our
                                        reminders are like your mom, but less annoying. Stay on top of your finances
                                        effortlessly.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features03 operationm5 cid-uA2pH2SDWh mbr-fullscreen"
        id="features-3-uA2pH2SDWh">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10">
                    <div class="title-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-7">Join the Ledgerly Family!</p>
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Your Success, Our Mission</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="items-wrapper">
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-text mbr-fonts-style display-7">We believe in empowering businesses.
                                        With Ledgerly, you’re not just a user; you’re part of a community that thrives
                                        together!</p>
                                </div>
                            </div>
                        </div>
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-text mbr-fonts-style display-7">Our mission is to simplify your life.
                                        We take the stress out of accounting so you can focus on what you do best:
                                        running your business!</p>
                                </div>
                            </div>
                        </div>
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-text mbr-fonts-style display-7">Join thousands of satisfied users who
                                        have transformed their accounting experience. With Ledgerly, you’re in good
                                        hands!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="tabs tabs01 operationm5 cid-uA2pH2Tmij" id="features-7-uA2pH2Tmij">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item first mbr-fonts-style">
                            <a class="nav-link show active display-1" role="tab" data-toggle="tab" data-bs-toggle="tab"
                                href="#tab1" aria-selected="true">Easy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mbr-fonts-style display-1" role="tab" data-toggle="tab"
                                data-bs-toggle="tab" href="#tab2" aria-selected="true">Secure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mbr-fonts-style display-1" role="tab" data-toggle="tab"
                                data-bs-toggle="tab" href="#tab3" aria-selected="true">Smart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mbr-fonts-style display-1" role="tab" data-toggle="tab"
                                data-bs-toggle="tab" href="#tab4" aria-selected="true">Reliable</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mbr-fonts-style display-1" role="tab" data-toggle="tab"
                                data-bs-toggle="tab" href="#tab5" aria-selected="true">Fun</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane in active" role="tabpanel">
                            <div class="text-wrapper">
                                <p class="mbr-text mbr-fonts-style display-7">Using Ledgerly is as easy as pie! You
                                    don’t need a degree in accounting to manage your finances. Our intuitive design
                                    makes it a walk in the park!</p>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane" role="tabpanel">
                            <div class="text-wrapper">
                                <p class="mbr-text mbr-fonts-style display-7">Your data security is our top priority.
                                    With Ledgerly, your information is locked up tighter than Fort Knox. Sleep easy
                                    knowing your finances are safe!</p>
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane" role="tabpanel">
                            <div class="text-wrapper">
                                <p class="mbr-text mbr-fonts-style display-7">Smart features that think for you! Our
                                    software learns your habits and helps you make better financial decisions. It’s like
                                    having a financial advisor in your pocket!</p>
                            </div>
                        </div>
                        <div id="tab4" class="tab-pane" role="tabpanel">
                            <div class="text-wrapper">
                                <p class="mbr-text mbr-fonts-style display-7">Count on us! Ledgerly is as reliable as
                                    your grandma’s secret cookie recipe. We’re here for you, rain or shine, day or
                                    night!</p>
                            </div>
                        </div>
                        <div id="tab5" class="tab-pane" role="tabpanel">
                            <div class="text-wrapper">
                                <p class="mbr-text mbr-fonts-style display-7">Who said accounting can’t be fun? With
                                    Ledgerly, you’ll actually enjoy managing your finances. Say goodbye to boring
                                    spreadsheets and hello to excitement!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="list01 operationm5 cid-uA2pH2UQdc" id="features-6-uA2pH2UQdc">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10">
                    <div class="title-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Revolutionize Your Business Accounting
                            Today!</h2>
                        <div class="text-wrapper">
                            <p class="mbr-text mbr-fonts-style display-7">Say goodbye to accounting headaches with our
                                innovative solutions designed for modern businesses. Simplify your finances and focus on
                                what really matters!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div id="bootstrap-accordion_8" class="panel-group accordionStyles accordion" role="tablist"
                        aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title" data-toggle="collapse" data-bs-toggle="collapse"
                                    data-core="" href="#collapse1_8" aria-expanded="false" aria-controls="collapse1">
                                    <h4 class="panel-title-edit title_1 mbr-fonts-style display-7">Digital Ledger</h4>
                                </a>
                            </div>
                            <div id="collapse1_8" class="panel-collapse noScroll collapse show" role="tabpanel"
                                aria-labelledby="headingOne" data-parent="#accordion"
                                data-bs-parent="#bootstrap-accordion_8">
                                <div class="panel-body">
                                    <div class="image-wrapper">
                                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1637597383944-d39bc455d5c0.jpeg"
                                            alt="">
                                    </div>
                                    <div class="content-wrap">
                                        <h5 class="mbr-fonts-style mbr-title title_1 display-5">Digital Ledger</h5>
                                        <p class="mbr-fonts-style panel-desc desc_1 display-7">Your finances, organized
                                            and accessible.</p>
                                        <p class="mbr-fonts-style panel-text text_1 display-7">Experience the power of a
                                            digital ledger that keeps your financial records neat, tidy, and always at
                                            your fingertips!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card_2">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse"
                                    data-bs-toggle="collapse" data-core="" href="#collapse2_8" aria-expanded="false"
                                    aria-controls="collapse2">
                                    <h4 class="panel-title-edit title_2 mbr-fonts-style display-7">Payment Reminders
                                    </h4>
                                </a>
                            </div>
                            <div id="collapse2_8" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingTwo" data-parent="#accordion"
                                data-bs-parent="#bootstrap-accordion_8">
                                <div class="panel-body">
                                    <div class="image-wrapper">
                                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1642662069287-b73a79167759.jpeg"
                                            alt="">
                                    </div>
                                    <div class="content-wrap">
                                        <h5 class="mbr-fonts-style mbr-title title_2 display-5">Payment Reminders</h5>
                                        <p class="mbr-fonts-style panel-desc desc_2 display-7">Never miss a payment
                                            again!</p>
                                        <p class="mbr-fonts-style panel-text text_2 display-7">Our smart payment
                                            reminders ensure you’re always on top of your dues, so you can avoid those
                                            pesky late fees!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card_3">
                            <div class="card-header" role="tab" id="headingThree">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse"
                                    data-bs-toggle="collapse" data-core="" href="#collapse3_8" aria-expanded="false"
                                    aria-controls="collapse3">
                                    <h4 class="panel-title-edit mbr-fonts-style title_3 display-7">Multi-Language
                                        Support</h4>
                                </a>
                            </div>
                            <div id="collapse3_8" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingThree" data-parent="#accordion"
                                data-bs-parent="#bootstrap-accordion_8">
                                <div class="panel-body">
                                    <div class="image-wrapper">
                                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1723293314263-5bd56f32a62f.jpeg"
                                            alt="">
                                    </div>
                                    <div class="content-wrap">
                                        <h5 class="mbr-fonts-style mbr-title title_3 display-5">Multi-Language Support
                                        </h5>
                                        <p class="mbr-fonts-style panel-desc desc_3 display-7">Accounting in your
                                            language!</p>
                                        <p class="mbr-fonts-style panel-text text_3 display-7">Break down language
                                            barriers with our multi-language support, making accounting accessible for
                                            everyone, everywhere!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse"
                                    data-bs-toggle="collapse" data-core="" href="#collapse4_8" aria-expanded="false"
                                    aria-controls="collapse4">
                                    <h4 class="panel-title-edit title_1 mbr-fonts-style display-7">Data Backup</h4>
                                </a>
                            </div>
                            <div id="collapse4_8" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingFour" data-parent="#accordion"
                                data-bs-parent="#bootstrap-accordion_8">
                                <div class="panel-body">
                                    <div class="image-wrapper">
                                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1667984510018-9cc62b70c263.jpeg"
                                            alt="">
                                    </div>
                                    <div class="content-wrap">
                                        <h5 class="mbr-fonts-style mbr-title title_1 display-5">Data Backup</h5>
                                        <p class="mbr-fonts-style panel-desc desc_1 display-7">Your data, safe and
                                            sound.</p>
                                        <p class="mbr-fonts-style panel-text text_1 display-7">Rest easy knowing your
                                            financial data is securely backed up, protecting you from unexpected
                                            disasters!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article02 operationm5 cid-uA2pH31mqo" id="call-to-action-1-uA2pH31mqo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 card">
                    <div class="image-wrapper">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1642662069292-1fc53175a328.jpeg"
                            alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6 card">
                    <div class="content-wrapper">
                        <div class="content-wrap">
                            <h2 class="mbr-section-title mbr-fonts-style display-2">Get Started Today!</h2>
                            <p class="mbr-text mbr-fonts-style display-7">Don’t let accounting woes drag you down! Click
                                the button below to download our app and transform your business finances into a breeze.
                                Join the revolution and take control of your accounting like a boss!</p>
                            <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="#">Download Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="gallery01 operationm5 cid-uA2pH32L75" id="gallery-3-uA2pH32L75">


        <div class="container-fluid gallery-wrapper">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head">

                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-container-3" style="transform: translate3d(-200px, 0px, 0px);">
                    <div class="grid-item">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1664527184253-b09e897a81f8.jpeg"
                            alt="">
                    </div>
                    <div class="grid-item">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1681783166020-8f32e53377a5.jpeg"
                            alt="">
                    </div>
                    <div class="grid-item">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1462642109801-4ac2971a3a51.jpeg"
                            alt="">
                    </div>
                    <div class="grid-item">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1667984510031-c5670c18c1ff.jpeg"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="decor-wrapper">
            <div class="decor-wrap decor_1"></div>
            <div class="decor-wrap decor_2"></div>
            <div class="decor-wrap decor_3"></div>
            <div class="decor-wrap decor_4"></div>
        </div>
    </section>

    <section data-bs-version="5.1" class="slider04 mbr-embla operationm5 cid-uA2pH32Ydw" id="features-9-uA2pH32Ydw">



        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-5 card">
                    <div class="content-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-7">Why Choose Us?</p>
                        <h2 class="mbr-section-title mbr-fonts-style display-5">Unmatched Accounting Features</h2>
                        <p class="mbr-text mbr-fonts-style display-7">Discover the unique features that set us apart
                            from the competition and make your accounting experience enjoyable!</p>
                    </div>
                </div>
                <div class="col-12 col-lg-7 card">
                    <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps"
                        data-auto-play-interval="5" data-draggable="true">
                        <div class="embla__viewport">
                            <div class="embla__container">
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-title mbr-fonts-style display-2">User-Friendly</h4>
                                                <p class="item-text mbr-fonts-style display-7">Our intuitive interface
                                                    makes accounting feel like a walk in the park, even for the most
                                                    tech-challenged!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-title mbr-fonts-style display-2">Affordable Plans</h4>
                                                <p class="item-text mbr-fonts-style display-7">Get premium features
                                                    without breaking the bank. Quality accounting shouldn’t cost you an
                                                    arm and a leg!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-title mbr-fonts-style display-2">24/7 Support</h4>
                                                <p class="item-text mbr-fonts-style display-7">Our dedicated support
                                                    team is always ready to assist you, day or night. We’ve got your
                                                    back!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item features-without-image"
                                    style="margin-left: 2rem; margin-right: 2rem;">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-content">
                                                <h4 class="item-title mbr-fonts-style display-2">Regular Updates</h4>
                                                <p class="item-text mbr-fonts-style display-7">We’re constantly
                                                    improving our app to ensure you have the best tools at your
                                                    disposal!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="embla__button embla__button--prev">
                            <span class="mbr-iconfont mobi-mbri-left mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Previous</span>
                        </button>
                        <button class="embla__button embla__button--next">
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article05 operationm5 cid-uA2pH334mc" id="generic-text-4-uA2pH334mc">





        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="title-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-1">Join the Revolution!</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="content-wrapper">
                        <div class="image-wrapper">
                            <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1723293314238-3b01e47715f6.jpeg"
                                alt="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">It’s time to ditch the old-school accounting
                            methods and embrace the future. Our app is designed to simplify your financial management
                            and make your life easier!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article04 operationm5 cid-uA2pH34eXU" id="generic-text-3-uA2pH34eXU">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10">
                    <div class="content-wrapper">
                        <div class="desc-wrapper">
                            <p class="mbr-desc mbr-fonts-style display-7">Your Success Awaits!</p>
                        </div>
                        <h2 class="mbr-text mbr-fonts-style display-2">Take the leap and experience the difference. Your
                            business deserves the best tools to thrive!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article01 operationm5 cid-uA2pH36diS mbr-parallax-background"
        id="image-1-uA2pH36diS">



        <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(250, 252, 252);"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="title-wrapper">
                        <div class="title-wrap">
                            <h2 class="mbr-section-title mbr-fonts-style display-2">Transform Your Accounting
                                Experience!</h2>
                            <div class="mbr-section-btn">
                                <a class="btn btn-primary display-4" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features04 operationm5 cid-uA2pH36vJ7" id="features-4-uA2pH36vJ7">





        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10 card">
                    <div class="title-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Features That Wow!</h2>
                        <p class="mbr-text mbr-fonts-style display-7">Explore the amazing features that will change the
                            way you handle your business finances forever!</p>
                    </div>
                </div>
                <div class="col-12 col-lg-5  item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <p class="card-number mbr-fonts-style display-7">
                                01
                            </p>
                            <h4 class="card-title mbr-fonts-style display-5">Instant Reports</h4>
                            <p class="card-text mbr-fonts-style display-7">Generate instant financial reports with just
                                a click. No more waiting around for numbers to crunch themselves!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <p class="card-number mbr-fonts-style display-7">
                                02
                            </p>
                            <h4 class="card-title mbr-fonts-style display-5">Expense Tracking</h4>
                            <p class="card-text mbr-fonts-style display-7">Keep tabs on your expenses effortlessly. Our
                                app does the heavy lifting so you can focus on growing your business!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <p class="card-number mbr-fonts-style display-7">
                                03
                            </p>
                            <h4 class="card-title mbr-fonts-style display-5">Tax Calculations</h4>
                            <p class="card-text mbr-fonts-style display-7">Say goodbye to tax season stress! Our app
                                calculates your taxes automatically, leaving you with more time for fun!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <p class="card-number mbr-fonts-style display-7">
                                04
                            </p>
                            <h4 class="card-title mbr-fonts-style display-5">Customizable Dashboard</h4>
                            <p class="card-text mbr-fonts-style display-7">Personalize your dashboard to see the metrics
                                that matter most to you. Because who doesn’t love a little customization?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="header02 operationm5 cid-uA2pH36XHC" id="hero-2-uA2pH36XHC">





        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="content-wrapper">
                        <div class="image-wrap">
                            <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1664527184293-8ab968c4aa25.jpeg"
                                alt="">
                        </div>
                        <div class="card-wrap">
                            <p class="mbr-desc mbr-fonts-style display-7">Simplify Your Accounting</p>
                            <h1 class="mbr-section-title mbr-fonts-style display-1">Business Made Easy</h1>
                            <p class="mbr-text mbr-fonts-style display-7">Tired of drowning in receipts and
                                spreadsheets? Say goodbye to the chaos and hello to effortless accounting! Our
                                innovative platform transforms your financial management into a breeze, so you can focus
                                on what really matters—growing your business!</p>
                            <div class="mbr-section-btn">
                                <a class="btn btn-primary display-4" href="#">Get Started</a>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="slider01 mbr-embla operationm5 cid-uA2pH37m3X" id="gallery-1-uA2pH37m3X">
   <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 card">
                    <div class="content-wrapper">
                        <div class="icon-wrapper">
                            <span class="mbr-iconfont mobi-mbri-success mobi-mbri"></span>
                        </div>
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Key Features Unleashed</h2>
                        <p class="mbr-text mbr-fonts-style display-7">Discover the game-changing features that will
                            revolutionize your accounting experience. From digital ledgers to payment reminders, we’ve
                            got everything you need to keep your finances in check and your stress levels down!</p>
                        <div class="mbr-section-btn">
                            <a class="btn btn-primary display-4" href="#">Explore Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 card">
                    <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps"
                        data-loop="true" data-auto-play-interval="5" data-draggable="true">
                        <div class="embla__viewport">
                            <div class="embla__container">
                                <div class="embla__slide slider-image item">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-img">
                                                <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1664526937147-93be5ee5ff92.jpeg"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-img">
                                                <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1664526936810-ec0856d31b92.jpeg"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-img">
                                                <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1723293314207-0baf945b1d8d.jpeg"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="embla__button embla__button--prev">
                            <span class="mbr-iconfont mobi-mbri-left mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Previous</span>
                        </button>
                        <button class="embla__button embla__button--next">
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features05 operationm5 cid-uA2pH38DJd" id="metrics-1-uA2pH38DJd">

 <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="content-wrapper">
                        <p class="mbr-desc mbr-fonts-style display-7">Impressive Stats Ahead</p>
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Why Choose Us?</h2>
                        <p class="mbr-text mbr-fonts-style display-7">Join thousands of satisfied users who have
                            transformed their accounting with our powerful tools!</p>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="items-wrapper">
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-number mbr-fonts-style display-1">10,000+</p>
                                    <h4 class="card-title mbr-fonts-style display-5">Happy Customers</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-number mbr-fonts-style display-1">99%</p>
                                    <h4 class="card-title mbr-fonts-style display-5">Satisfaction Rate</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-number mbr-fonts-style display-1">24/7</p>
                                    <h4 class="card-title mbr-fonts-style display-5">Support Available</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-number mbr-fonts-style display-1">5 Stars</p>
                                    <h4 class="card-title mbr-fonts-style display-5">User Rating</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="slider03 mbr-embla operationm5 cid-uA2pH3ae4M" id="gallery-2-uA2pH3ae4M">



        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10">
                    <div class="title-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Features That Make You Go Wow!</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-4 card">
                    <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps"
                        data-loop="true" data-auto-play-interval="5" data-draggable="true">
                        <div class="embla__viewport">
                            <div class="embla__container">
                                <div class="embla__slide slider-image item">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-img">
                                                <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1664526936959-84bdea9f37fa.jpeg"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="item-title mbr-fonts-style display-5">Digital Ledger</h4>
                                            <p class="item-text mbr-fonts-style display-7">Ditch the paper trail! Our
                                                digital ledger keeps your finances organized and accessible anytime,
                                                anywhere. No more lost receipts or messy spreadsheets!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-img">
                                                <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1619709821682-ec24ace60f09.jpeg"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="item-title mbr-fonts-style display-5">Payment Reminders</h4>
                                            <p class="item-text mbr-fonts-style display-7">Never miss a payment again!
                                                Our smart reminders ensure you’re always on top of your bills, so you
                                                can focus on the fun stuff!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="embla__slide slider-image item">
                                    <div class="slide-content">
                                        <div class="item-wrapper">
                                            <div class="item-img">
                                                <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1637597384338-61f51fa5cb07.jpeg"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="item-title mbr-fonts-style display-5">Multi-Language Support</h4>
                                            <p class="item-text mbr-fonts-style display-7">We speak your language! With
                                                multi-language support, you can manage your finances in the language
                                                you’re most comfortable with. Accounting just got a whole lot easier!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="embla__button embla__button--prev">
                            <span class="mbr-iconfont mobi-mbri-left mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Previous</span>
                        </button>
                        <button class="embla__button embla__button--next">
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri" aria-hidden="true"></span>
                            <span class="sr-only visually-hidden visually-hidden visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1664527184169-fecb0e6dc4ad.jpeg"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features02 operationm5 cid-uA2pH3a1LX" id="features-2-uA2pH3a1LX">





        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="title-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Why We’re the Best Choice</h2>
                    </div>
                </div>
                <div class="col-12">
                    <div class="items-wrapper">
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-number mbr-fonts-style display-7">01</p>
                                    <h4 class="card-title mbr-fonts-style display-5">Data Backup</h4>
                                    <p class="card-text mbr-fonts-style display-7">Your data is safe with us! Our
                                        automatic backup feature ensures your financial information is secure and always
                                        retrievable. Sleep easy knowing you’re covered!</p>
                                    <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="#">Learn
                                            More</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-number mbr-fonts-style display-7">02</p>
                                    <h4 class="card-title mbr-fonts-style display-5">User-Friendly</h4>
                                    <p class="card-text mbr-fonts-style display-7">No accounting degree? No problem! Our
                                        intuitive interface makes it easy for anyone to navigate and manage their
                                        finances like a pro!</p>
                                    <div class="mbr-section-btn">
                                        <a class="btn btn-primary display-4" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <p class="card-number mbr-fonts-style display-7">03</p>
                                    <h4 class="card-title mbr-fonts-style display-5">Affordable Plans</h4>
                                    <p class="card-text mbr-fonts-style display-7">Get all these amazing features
                                        without breaking the bank! Our pricing plans are designed to fit every budget,
                                        so you can save money while managing it!</p>
                                    <div class="mbr-section-btn">
                                        <a class="btn btn-primary display-4" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features07 operationm5 cid-uA2pH3bEIN" id="features-10-uA2pH3bEIN">
  <div class="container-fluid">

            <div class="loop-container">
                <div class="item display-1"
                    data-linewords="Transform your accounting experience today! * Join the revolution in business finance! * "
                    data-direction="-1" data-speed="0.05"></div>
                <div class="item display-1"
                    data-linewords="Transform your accounting experience today! * Join the revolution in business finance! * "
                    data-direction="-1" data-speed="0.05"></div>
            </div>

        </div>
    </section>

    <section data-bs-version="5.1" class="header01 operationm5 cid-uA2pH3bWci mbr-fullscreen"
        data-bg-video="https://www.youtube.com/embed/xLbFrNleDoc?autoplay=1&amp;loop=1&amp;playlist=xLbFrNleDoc&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent"
        id="video-3-uA2pH3bWci">


        <div class="mbr-fallback-image disabled"></div>


        <div class="container-fluid">
            <div class="row">

            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article06 operationm5 cid-uA2pH3c53k" id="generic-text-5-uA2pH3c53k">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="content-wrapper">
                        <div class="image-wrap">
                            <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1667984510023-160473b6728e.jpeg"
                                alt="">
                        </div>
                        <div class="card-wrap">
                            <div class="icon-wrapper">
                                <span class="mbr-iconfont mobi-mbri-success mobi-mbri"></span>
                            </div>
                            <h2 class="mbr-section-title mbr-fonts-style display-5">Ready to Roll?</h2>
                            <p class="mbr-text mbr-fonts-style display-7">Don’t let accounting hold you back! Join the
                                thousands of businesses that have simplified their financial management with our
                                innovative platform. Click below to get started and take control of your finances like
                                never before!</p>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article03 operationm5 cid-uA2pH3gHKf" id="generic-text-2-uA2pH3gHKf">
 <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <h2 class="mbr-section-title mbr-fonts-style display-2">Revolutionize Your Business
                                Accounting Today!</h2>
                        </div>
                        <div class="text-wrapper">
                            <p class="mbr-text mbr-fonts-style display-7">Say goodbye to chaos! Our platform simplifies
                                your accounting with features like digital ledgers and payment reminders. Get organized
                                and take control of your finances!</p>
                        </div>
                        <div class="mbr-section-btn">
                            <a class="btn btn-primary display-4" href="#">Download Now</a>
                        </div>
                    </div>
                </div>
                <div class="decor-wrapper">




                </div>
                <div class="image-wrapper">
                    <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1637691383916-3b408fd91411.jpeg"
                        alt="">
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="clients01 operationm5 cid-uA2pH3hZxc" id="clients-1-uA2pH3hZxc">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="items-wrapper">
                        <div class="item features-image">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="https://r.mobirisesite.com/1100953/assets/images/short5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item features-image">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="https://r.mobirisesite.com/1100953/assets/images/short4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item features-image">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="https://r.mobirisesite.com/1100953/assets/images/short1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item features-image">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="https://r.mobirisesite.com/1100953/assets/images/short3.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item features-image">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="https://r.mobirisesite.com/1100953/assets/images/short6.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="decor-wrapper">
                    <div class="decor-wrap decor_1"></div>
                    <div class="decor-wrap decor_2"></div>
                    <div class="decor-wrap decor_3"></div>
                    <div class="decor-wrap decor_4"></div>
                </div>
            </div>
        </div>
    </section>


    <section data-bs-version="5.1" class="pricing01 operationm5 cid-uA2pH3j4D7 mbr-fullscreen"
        id="product-list-1-uA2pH3j4D7">


        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10">
                    <div class="title-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Key Features</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="items-wrapper">
                        <div class="item features-image item-mb">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1637597383775-cf7b69e0a9c2.jpeg"
                                        alt="">
                                </div>
                                <div class="card-box">
                                    <p class="card-price mbr-fonts-style display-7">$0</p>
                                    <p class="card-title mbr-fonts-style display-5">Digital Ledger</p>
                                    <p class="card-text mbr-fonts-style display-7">Keep your finances in check with our
                                        intuitive digital ledger. No more messy papers!</p>
                                    <div class="mbr-section-btn">
                                        <a class="btn btn-primary display-4" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item features-image item-mb">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1642662069313-fc20c2c3a7ba.jpeg"
                                        alt="" data-slide-to="1" data-bs-slide-to="2">
                                </div>
                                <div class="card-box">
                                    <p class="card-price mbr-fonts-style display-7">$0</p>
                                    <p class="card-title mbr-fonts-style display-5">Payment Reminders</p>
                                    <p class="card-text mbr-fonts-style display-7">Never miss a payment again! Our
                                        reminders keep you on track and stress-free.</p>
                                    <div class="mbr-section-btn">
                                        <a class="btn btn-primary display-4" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item features-image item-mb">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="https://r.mobirisesite.com/1100953/assets/images/photo-1652020974081-0302bf66fe85.jpeg"
                                        alt="" data-slide-to="2" data-bs-slide-to="3">
                                </div>
                                <div class="card-box">
                                    <p class="card-price mbr-fonts-style display-7">$0</p>
                                    <p class="card-title mbr-fonts-style display-5">Multi-Language Support</p>
                                    <p class="card-text mbr-fonts-style display-7">Speak your language! Our platform
                                        supports multiple languages for your convenience.</p>
                                    <div class="mbr-section-btn">
                                        <a class="btn btn-primary display-4" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features06 operationm5 cid-uA2pH3kAWf" id="faq-1-uA2pH3kAWf">
 <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="title-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Got Questions?</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="text-wrapper">
                        <p class="mbr-text mbr-fonts-style display-7">We’ve got answers to your burning questions!</p>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="text-wrapper">
                        <p class="mbr-text mbr-fonts-style display-7">Check out our FAQs below for more info.</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="items-wrapper">
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <div class="title-wrap">
                                        <h4 class="card-title mbr-fonts-style display-5">What is a digital ledger?</h4>
                                        <p class="card-tag mbr-fonts-style display-4">Info</p>
                                    </div>
                                    <div class="text-wrap">
                                        <p class="card-text mbr-fonts-style display-7">A digital ledger is your online
                                            financial notebook!</p>
                                    </div>
                                    <div class="mbr-section-btn">
                                        <a class="btn btn-primary display-4" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <div class="title-wrap">
                                        <h4 class="card-title mbr-fonts-style display-5">How do payment reminders work?
                                        </h4>
                                        <p class="card-tag mbr-fonts-style display-4">Help</p>
                                    </div>
                                    <div class="text-wrap">
                                        <p class="card-text mbr-fonts-style display-7">Set it and forget it! We’ll
                                            remind you!</p>
                                    </div>
                                    <div class="mbr-section-btn">
                                        <a class="btn btn-primary display-4" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item features-without-image item-mb">
                            <div class="item-wrapper">
                                <div class="card-box">
                                    <div class="title-wrap">
                                        <h4 class="card-title mbr-fonts-style display-5">Is multi-language support
                                            available?</h4>
                                        <p class="card-tag mbr-fonts-style display-4">Support</p>
                                    </div>
                                    <div class="text-wrap">
                                        <p class="card-text mbr-fonts-style display-7">Absolutely! We cater to diverse
                                            users globally.</p>
                                    </div>
                                    <div class="mbr-section-btn">
                                        <a class="btn btn-primary display-4" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="form01 operationm5 cid-uA2pH3l1cW" id="contact-form-1-uA2pH3l1cW">


        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="form-wrapper">
                        <div class="title-wrapper">
                            <p class="mbr-desc mbr-fonts-style display-7">Get in Touch with Us!</p>
                            <h2 class="mbr-section-title mbr-fonts-style display-2">Contact Our Team</h2>
                        </div>
                        <div class="mbr-form form-wrap" data-form-type="formoid">
                            <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
                                data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                                    value="V0ftF5TWAI7lFb7s1h3g3yacaquzqs8+JnN51uHCLwT1XTMyzLxOgLMo73JDWugZriZ7M8eC/UzxQfMdmbTJVX20GtxRIjO6Jf7msA/Tj+iNqH9/xkjEJOy8quooibov">
                                <div class="row">
                                    <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks
                                        for
                                        filling out the form!</div>
                                    <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                        Oops...!
                                        some problem!
                                    </div>
                                </div>
                                <div class="dragArea row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3 mb-3" data-for="name">
                                        <input type="text" name="name" placeholder="Simplify Accounting"
                                            data-form-field="name" class="form-control display-4" value=""
                                            id="name-contact-form-1-uA2pH3l1cW">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="text">
                                        <input type="text" name="text" placeholder="Email" data-form-field="email"
                                            class="form-control display-7" value="" id="text-contact-form-1-uA2pH3l1cW">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="textarea">
                                        <textarea name="textarea" placeholder="Message" data-form-field="message"
                                            class="form-control display-4"
                                            id="textarea-contact-form-1-uA2pH3l1cW"></textarea>
                                    </div>
                                    <div class="col mbr-section-btn">
                                        <button type="submit" class="btn btn-primary display-4">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="contacts01 operationm5 cid-uA2pH3mu6A" id="contacts-1-uA2pH3mu6A">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-10 card">
                    <div class="title-wrapper">
                        <h2 class="mbr-section-title mbr-fonts-style display-2">Reach Us Anytime</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-4  item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style display-5">Phone</h4>
                            <a href="#">
                                <p class="card-text mbr-fonts-style display-7"><a href="tel:+91 9010823344">+91 90108
                                        23344</a></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style display-5">Email</h4>
                            <a href="#">
                                <p class="card-text mbr-fonts-style display-7"><a
                                        href="mailto:shivarth99@gmail.com">sales@docoumount.in</a></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 item features-without-image item-mb">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style display-5">Address</h4>
                            <a href="#">
                                <p class="card-text mbr-fonts-style display-7">Nizamabad, Telagana, India <br>503001</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="footer01 operationm5 cid-uA2pH3qX1l" once="footers" id="footer-1-uA2pH3qX1l">

        <div class="container-fluid">
            <div class="row">

                <div class="col-12 col-lg-6">

                    <p class="mbr-copy mbr-fonts-style display-4">© 2025 Business Accounting. All rights reserved.</p>
                </div>
            </div>

        </div>

    </section>


    <script src="https://r.mobirisesite.com/1100953/assets/web/assets/jquery/jquery.min.js?rnd=1737023554987"></script>
    <script
        src="https://r.mobirisesite.com/1100953/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/parallax/jarallax.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/smoothscroll/smooth-scroll.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/ytplayer/index.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/dropdown/js/navbar-dropdown.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/embla/embla.min.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/embla/script.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/scrollgallery/scroll-gallery.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/mbr-tabs/mbr-tabs.js?rnd=1737023554987"></script>
    <script
        src="https://r.mobirisesite.com/1100953/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/vimeoplayer/player.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/theme/js/script.js?rnd=1737023554987"></script>
    <script src="https://r.mobirisesite.com/1100953/assets/formoid.min.js?rnd=1737023554987"></script>

</body>

</html>